.junge-regular {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Reset box sizing (important for alignment) */
* {
  box-sizing: border-box;
}

/* Body layout */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   /* center vertically */
  min-height: 100vh;
  padding: 25px;
  background-color: white;
}

/* Wrapper for page content */
.centered-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* spacing between cards */
}

/* Typography */
h1 {
  font-family: "Junge";
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-family: "Junge";
  font-weight: 400;
}

h3 {
  font-family: "Lato";
  font-weight: 400;
}

p {
  font-family: "Lato";
  font-weight: 400;
}

/* Labels */
label {
  font-family: "Lato";
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}

/* Inputs */
input {
  font-family: "Lato";
  font-weight: 300;
  width: 250px;
  height: 25px;
  padding: 2px 2px 2px 10px;
  margin-bottom: 10px;

  border-radius: 5px;
  border: 1px solid #aeaeae;
}

/* Dropdowns */
select {
  font-family: "Lato";
  font-weight: 300;
  width: 100%;
  max-width: 250px;
  height: 25px;
  padding-left: 10px;
  margin-bottom: 10px;

  border-radius: 5px;
  border: 1px solid #aeaeae;
}

/* Card container */
.div-border {
  width: 100%;
  max-width: 500px;
  padding: 20px 40px;
  margin-bottom: 20px;

  border-radius: 5px;
  border: 1px solid #aeaeae;
  background-color: white;
}

/* Button container */
.div-button {
  display: flex;
  justify-content: center;
}

/* Buttons */
button {
  font-family: "Lato";
  font-weight: 300;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;

  padding: 0.625rem 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

/* Delete button */
.delete-button {
  background-color: #c4000a;
}

.center-title {
  text-align: center;
}

.logout-link {
  font-size: 1.2rem;
  color: var(--dark);
  text-decoration: none;
  transition: color 0.2s;
}

.logout-link:hover {
  color: var(--crimson);
}
